/* AdminPanel.css */

/* Tablo stilleri */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: center; /* Tabloyu yatayda ortala */
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 50px; /* Sayfa başından mesafe ekle */
}

th, td {
    border: 1px solid black;
    padding: 12px; /* Örnek: Hücre içeriği için padding artırıldı */
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: black;
}

/* Yazı stilleri */
h2 {
    color: black;
    font-weight: bold;
}

td {
    color: black;
    font-weight: bold;
}
.container {
    min-height: 2000px; /* Örnek bir yükseklik değeri */
    /* Diğer stillendirmeler */
}
