
.about-fitlife {
    position: relative;
    width: 100%;
    height: 100%;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
body {
    margin: 0;
    padding: 0;
    background-image: url('/images/cathy-pham-3jAN9InapQI-unsplash.jpg'); /* Arka plan görseli burada belirtilir */
    background-size: cover; /* Görselin ekran boyutuna uygun şekilde yayılmasını sağlar */
    background-repeat: no-repeat; /* Görselin tekrar etmemesini sağlar */
    height: 100vh; /* Sayfanın tamamını kaplar */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif; /* Varsayılan fontu belirtir */
    color: #ffffff; /* Yazı rengi beyaz */
}


.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    font-weight: bold;
    color: #fff; /* İçerik metin rengi */

}

/* Title ve Slogan stilleri */
.title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
    font-family: 'Open Sans', sans-serif; /* Yazı tipi seçimi */
    color: orange; /* Rengi değiştirmek için örnek bir renk */
    margin-left: 10%; /* Sol tarafta konumlandırma */
}

.slogan {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif; /* Yazı tipi seçimi */
    animation: rainbow 4s linear infinite;
    margin-left: 10%; /* Sol tarafta konumlandırma */
}

@keyframes rainbow {
    0% {
        color: red;
    }
    5% {
        color: orangered;
    }
    10% {
        color: orange;
    }
    15% {
        color: gold;
    }
    20% {
        color: yellow;
    }
    25% {
        color: yellowgreen;
    }
    30% {
        color: lime;
    }
    35% {
        color: green;
    }
    40% {
        color: teal;
    }
    45% {
        color: cyan;
    }
    50% {
        color: dodgerblue;
    }
    55% {
        color: blue;
    }
    60% {
        color: slateblue;
    }
    65% {
        color: blueviolet;
    }
    70% {
        color: purple;
    }
    75% {
        color: magenta;
    }
    80% {
        color: crimson;
    }
    85% {
        color: darkred;
    }
    90% {
        color: firebrick;
    }
    95% {
        color: brown;
    }
    100% {
        color: red;
    }
}
