
.coach-carousel {
    padding: 20px;
    background-color: #f8f8f8;
    max-width: 1200px; /* Carousel'ın maksimum genişliği */
    margin: 0 auto; /* Merkezde olmasını sağlar */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: url('https://images.unsplash.com/photo-1498837167922-ddd27525d352?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Resmin URL'si */

}

.coach-carousel h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.coach-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;


}

.transparent-button {
    background-color: transparent;
    border: none;
    color: #000; /* Buton rengi - Kendi renk şemasına göre değiştirilebilir */
    cursor: pointer;
    opacity: 0.5; /* Saydamlık değeri (0.0 - 1.0 arası) */
    /* İhtiyacınıza göre diğer stillendirmeleri ekleyebilirsiniz */
}


.coach-card h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;

}

.coach-card p {
    font-size: 16px;
    color: #777;
    margin-bottom: 8px;

}
